<div class="container">
  <div class="row">
    <md-content>
      <md-card ng-click="eventList.toEventDetail(event)" ng-repeat="event in eventsDisplay.filtered = (eventsDisplay.getEventList | filter:eventsDisplay.priceFilter | filter:eventsDisplay.titleDescFilter)" class="md-padding col-md-4 col-sm-6 col-xs-12 img-resize">
        <div class="md-card-image img-resize" style="background-image: url({{event.photoUrl}}); background-size: cover; background-position:center"></div>
        <md-card-content>
          <h2 class="md-title">{{event.title}}</h2>
          <p>${{event.price}}</p>
          <rating  ng-model="event.rating" max="5" readonly="true"></rating>
        </md-card-content>
      </md-card>
    </md-content>
  </div>
</div>