<div class="container">
  <div class="row">
    <form ng-submit='eventList.displayEvents()'>
      <div class='col-md-4 col-md-offset-4'>
        <paper-input-container>
          <input is="iron-input" ng-model="eventList.findCity" placeholder="Where do you want to go?"></input>
          <iron-icon suffix icon="search"></iron-icon>
        </paper-input-container>
      </div>
    </form>
    <div class="col-md-12">
      <h2 class="text-muted">Tour List</h2>
    </div>
  </div>
  <div class="card" ng-click="eventList.toEventDetail(event)" ng-repeat="event in eventList.getEventList">
    <div class="content">
      <span class="title">{{event.title}}</span>
      <p>{{event.description}}</p>
    </div>
    <div class="action">
      <p>{{event.city}}</p>
      <p>{{event.host}}</p>
    </div>
  </div>
</div>