<div class="container">
  <div class="row">
    <form ng-submit='eventList.displayEvents()'>
      <div class='col-md-4 col-md-offset-4'>
        <paper-input-container>
          <input is="iron-input" ng-model="eventList.findCity" placeholder="Where do you want to go?"></input>
          <iron-icon suffix icon="search"></iron-icon>
        </paper-input-container>
      </div>
    </form>
    <div class="col-md-12">
      <h2 class="text-muted">Tour List</h2>
    </div>
    <div class="col-md-9">
      <md-content>
        <div layout layout-sm="column" class="col-md-4">
           <md-input-container flex>
             <label>Minimum Price</label>
             <input type="number" ng-init="eventList.minPrice = 0" ng-model="eventList.minPrice">
           </md-input-container>
           <md-input-container flex>
             <label>Maximum Price</label>
             <input type="number" ng-init="eventList.maxPrice = 100000" ng-model="eventList.maxPrice">
           </md-input-container>
        </div>
        <div layout layout-sm="column" class="col-md-4">
          <md-input-container flex>
            <label>Title or Description</label>
            <input ng-init="eventList.titleOrDescription = '' " ng-model="eventList.titleOrDescription">
          </md-input-container>
        </div>
      </md-content>
    </div>
  </div>
  <div class="card" ng-click="eventList.toEventDetail(event)" ng-repeat="event in eventList.getEventList | filter:eventList.filter">
    <div class="content">
      <span class="title">{{event.title}}</span>
      <p>{{event.description}}</p>
    </div>
    <div class="action">
      <p>{{event.city}}</p>
      <p>${{event.price}}</p>
      <p>{{event.host}}</p>
      <br />
      <p ng-repeat="time in event.time">{{time.time | date : 'fullDate'}}</p>
    </div>
  </div>
</div>