<nav ng-controller="navController" class="navbar navbar-default">
  <div class="container-fluid">
   <a class="navbar-brand" ui-sref="homepage">localhosts</a>
    <div class="btn-group" id="dropdown" dropdown is-open="status.isopen">
      <button ng-click="navController.checkAuth()" id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#">Profile</a></li>
        <li role="menuitem"><a href="#">Inbox</a></li>
        <li role="menuitem"><a ui-sref="eventManager">Tours</a></li>
        <li role="menuitem"><a ui-sref="eventManager">Hosted</a></li>
        <li role="menuitem"><a ui-sref="createEvent">Create Event</a></li>
        <li role="menuitem"><a href="#">Created</a></li>
        <li class="divider"></li>
        <li ng-click="navController.signinout()" role="menuitem"><a href="#">{{navController.signinoutMessage}}</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>