<div class="bg-img">
  <div class="container">
      <div class='text-center row margin header-title'>
        <h1>Vacation simplified</h1>
        <h3>Experience the most authenticate trip with local guide.</h3>
        <form ng-submit='home.displayEvents()'>
          <div class='col-md-6 col-md-offset-3 input-group input-group-lg add-on input-margin'>
            <input ng-model='home.findCity' type='text' class='form-control input-center' placeholder='Where do you want to go?'>
            <div class="input-group-btn">
              <button ng-click="home.displayEvents()" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>