<div class="bg-img">
  <div class="container">
    <div class='text-center row header-text'>
      <h2 class="header-title">Vacation simplified</h2>
      <p class="sub-title">Experience the most authentic trip with local guide.</p>
      <form ng-submit='home.displayEvents()' class="search-area">
        <div class='input-group input-group-lg add-on input-margin'>
          <input ng-model='home.findCity' type='text' class='form-control input-center' placeholder='Where do you want to go?'>
          <div class="input-group-btn">
            <button ng-click="home.displayEvents()" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="neighborhood-guides">
  <div class="container">
    <h2>Recommendation Tours</h2>
    <p>Not sure where to travel? We've created recommendation tours for cities all around the world.</p>
    <div class="row">
      <div class="col-md-8">
        <div class="thumbnail">
          <a ui-sref="eventsDisplay.eventList({city: home.newYork})">
            <img src="https://files.slack.com/files-pri/T04E3V190-F0B13BC83/newyork.jpg">
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a ui-sref="eventsDisplay.eventList({city: home.sanFrancisco})">
            <img src="https://files.slack.com/files-pri/T04E3V190-F0B15MCEB/san-francisco-cropped.jpg">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a ui-sref="eventsDisplay.eventList({city: home.losAngeles})">
            <img src="https://files.slack.com/files-pri/T04E3V190-F0B1AHD25/2892.jpg">
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a ui-sref="eventsDisplay.eventList({city: home.seattle})">
            <img src="https://files.slack.com/files-pri/T04E3V190-F0B16DNAZ/308.jpg">
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a ui-sref="eventsDisplay.eventList({city: home.austin})">
            <img src="https://files.slack.com/files-pri/T04E3V190-F0B13L9DZ/austin.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="learn-more">
  <div class="container">
    <div class="row">
    <div class="col-md-4">
      <h3>Travel</h3>
      <p>From bars and restaurants to winery and boats: travel to unique places in 192 countries.</p>
    </div>  
    <div class="col-md-4">
      <h3>Guide</h3>
      <p>Guiding to travelers could pay your bills or fund your next vacation.</p>
    </div>
      <div class="col-md-4">
        <h3>Trust and Safety</h3>
        <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
    </div>
    </div>
  </div>
</div>