<div class="container">

  <div class="row">
    <div layout="column" layout-align="center center">
      <div id="profile-image" class="img-circle" style="background-image: url({{user.user.photoUrl}});"></div>
      <div>{{user.user.username}} </div><br />
      <div class="important-header">About Me:</div>
      <div class="col-xs-12">{{user.user.aboutMe}}</div>
    </div>
    <div class="col-xs-12">
      <textarea placeholder="Write about yourself" class="writeAboutMe form-control" id="aboutMe" ng-model="user.aboutMe"></textarea>
      <div class="btn btn-primary" ng-click="user.save(user.aboutMe)">Save</div>      
      <span class="btn btn-default btn-file">
        Upload Photo <input type="file" id="image">
      </span><br />

    </div>
  </div>

  <div id="review-block">
    Reviews:
    <div ng-repeat="review in user.reviews" class="review">
        <div class="review-row" layout="column">

          <div class="review-thumb img-circle" style="background-image: url({{ review.authorPhotoUrl}});">
            <div class="review-text-block">
              <a ui-sref="userProfile({username: review.author})"><span class="review-username">{{ review.author }}</span></a>
              <span>{{ review.createdAt }}</span>
              <br>
              <span class="review-eventTitle">{{ review.eventTitle }}</span>
              <rating ng-model="review.rating" max="5" readonly="true"></rating>
              <div class="review-text">{{ review.review }}</div>
            </div>
          
          </div>

    </div>
  </div>
</div>


