 <div class="container"> 
  <div class="row">
    <h3>Hosted Events:</h3>
      <div class="col-md-4" ng-repeat="hostedEvent in event.eventData.hostedEvents">
        <table class="table">
          <caption>
            {{hostedEvent.title}}
          </caption>
          <tr ng-repeat="user in hostedEvent.usersJoined">
            <td>
              <a ui-sref="userProfile({username: user.username})">{{user.username}}</a>
            </td>
            <td>
              <button ng-class="{true: 'btn btn-success disabled', false: 'btn btn-primary'}[user.confirmed]" ng-disabled="user.confirmed" ng-click="event.confirmUser(user.userId, user.eventId, user.eventtimeId); user.confirmed = !user.confirmed" >
                {{!user.confirmed && 'Accept' || 'Accepted'}}
              </button>
            </td>
            <td>
              {{user.eventTime | date : 'fullDate'}}
            </td>
          </tr>
        </table>
      </div>
  </div>
</div>