<div class="container">
  <div class="row">
    <h3 class="col-md-offset-2 col-md-10">Joined Events:</h3>
    <p class="col-md-offset-2 col-md-10" ng-show="event.eventData.length === 0">No events joined</p>
        <div class="row">
          <div class="col-md-4" ng-repeat="joinedEvent in event.eventData.joinedEvents">
          <div class="joined-events-event-image" style="background-image: url({{joinedEvent.photoUrl}});"></div>
          <table class="table">
            <caption>
              <div class='md-body-2'>
                {{joinedEvent.title}}
              </div>
              <div>
                <!-- review button -->
                <md-button ng-disabled="!joinedEvent.confirmed" class="md-raised md-primary" type="submit" ng-click="event.reviewModal(joinedEvent)" value="Review">Review</md-button> <span ng-class="{true: 'joined-user-confirmed', false: 'joined-user-waitlist'}[joinedEvent.confirmed]"> {{joinedEvent.confirmed && 'Confirmed' || 'WaitListed'}} </span>
              </div>
            </caption>
            <tr>
              <td>Host:</td>
              <td>{{joinedEvent.host}}</td>
            </tr>
            <tr>
              <td>Description:</td>
              <td>{{joinedEvent.description}}</td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>{{joinedEvent.city}}</td>
            </tr>
            <tr>
              <td>Time:</td>
              <td>{{joinedEvent.eventTime | date : 'fullDate'}}</td>
            </tr>
          </table>
        </div>
      </div>
  </div>

