<div>
  <div>
    <h3>Hosted Events:</h3>
    <div ng-repeat="hostedEvent in event.hosted">
      <h5>{{hostedEvent.title}}:</h5>
      <ul>
      <!--Link to user profile -->
      <!--Toggle button to disable after accepting user to event -->
      <!--Click button to confirm user and send data to server-->
        <li ng-repeat="users in hostedEvent.usersApplied"><a ui-sref="userProfile({username: users.username})">{{users.username}}  </a><button ng-class="{true: 'btn btn-success disabled', false: 'btn btn-primary'}[users.confirmed]" ng-disabled="users.confirmed" ng-click="event.confirmUser(users.username); users.confirmed = !users.confirmed" >{{!users.confirmed && 'Accept' || 'Accepted'}}</button></li> 
      </ul>
    </div>
  </div>
  <div>
    <h3>Joined Events:</h3>
    <h4>Confirmed</h4>
    <div ng-repeat="joinedEvent in event.joined | filter:{confirmed:true}">
      <h5>Event: {{joinedEvent.title}}:</h5>
      <p>host: {{joinedEvent.host}}</p>
      <p>description: {{joinedEvent.description}}</p>
      <p>location: {{joinedEvent.city}}</p>
      <p>time: {{joinedEvent.date}}</p>
      <br />
      <br />
    </div>
    <h4>WaitListed</h4>
    <div ng-repeat="joinedEvent in event.joined | filter:{confirmed:false}">
      <h5>Event: {{joinedEvent.title}}:</h5>
      <p>host: {{joinedEvent.host}}</p>
      <p>description: {{joinedEvent.description}}</p>
      <p>location: {{joinedEvent.city}}</p>
      <p>time: {{joinedEvent.date}}</p>
      <br />
      <br />
    </div>
  </div>
</div>

<h3>Your Events:<h3>

<div ng-repeat="event in event.events">
  {{event.title}}:
  <ul>
    <li ng-repeat="users in event.usersApplied"><a ui-sref="userProfile({username: users.username})">{{users.username}}  </a><button ng-class="{true: 'btn btn-success disabled', false: 'btn btn-primary'}[users.confirmed]" ng-disabled="users.confirmed" ng-click="users.confirmed = !users.confirmed">{{!users.confirmed && 'Accept' || 'Accepted'}}</button></li> 
  </ul>

</div>
