<div class="container">
  <div class="row">
    <h2>Event Page</h2>
    <a ui-sref="userProfile({username: event.details.host})"><h3>{{event.details.host}}</h3></a>
    <a ui-sref="message({receiver:event.details.username})" class="btn btn-default">Inquire for Booking</a>
    <rating  ng-model="event.details.rating" max="5" readonly="true"></rating>
    <br/>

    <h3>Price: ${{event.details.price}}</h3> <!-- Might want a different way to detect the currency -->
    <h3>{{event.details.title}}</h3>
    <h3>{{event.details.city}}</h3>
    <p>{{event.details.description}}</p>
    <div class="col-md-4" class="timeTable">
      <table class="table">
        <caption> Times:</caption>
        <tr ng-repeat="time in event.details.time">
          <td>{{time.time | date : 'fullDate'}}</td>
          <td> <button class="btn btn-xs btn-primary"  ng-disabled="event.details.userId === event.details.hostId" ng-click="event.join(time.id)">Join</button> </td>
        </tr>
      </table>
    </div>
  </div>
</div>
