<div>
	<div>Sign In</div>
	<form>
	  Username:
	  <br>
	  <input type="text" ng-model="user.username" value="username">
	  <br>
	  Password:
	  <br>
	  <input type="password" ng-model="user.password" value="password">
	  <br>
	  <br>
	  <input type="submit" ng-click="signupLogin.signin(user)" value="Submit">
	</form>
	<br>
  Don't have an account? 
  <a ui-sref="signup">Sign Up</a>
  <!-- button for testing attaching token to req header -->
  <!-- <input type="Submit" ng-click="signupLogin.logCookies()" value="logCookie"> -->
</div>