<div class="container">
  <div class="row">
    <a class="btn btn-primary" ui-sref="eventManager.hostedEvents">Back to Event Manager</a> <br />
    Username: {{user.user.username}} <br />
    <div id="profileImage" class="profileImage" style="background-image: url({{user.user.photoUrl}}); height: 200px; width: 200px; border: 1px solid black; background-size: 200px 200px; background-repeat: no-repeat">
    </div>
    Reviews: 
  </div>

	<div ng-repeat="review in user.reviews" class="review">
		<div class="review-block">
			<img class="review-thumb" ng-src="{{ review.authorPhotoUrl }}">
			<div class="review-text-block">
				<a ui-sref="userProfile({username: review.author})"><span class="review-username">{{ review.author }}</span></a>
				<span>{{ review.createdAt }}</span>
				<br>
				<span class="review-eventTitle">{{ review.eventTitle }}</span>
				<rating ng-model="review.rating" max="5" readonly="true"></rating>
				<div class="review-text">{{ review.review }}</div>
			</div>
		</div>
	</div>
</div>


<!-- public profile -->
